*.swp
*.o
*.pdf
*.out
.DS_Store
*.yuv
*.mp4
decode
decode.dSYM
log*
default.profraw
example/vp8-test-vectors/*comprehensive*
example/vp8-test-vectors/.git
example/out
example/out.ivf
example/out-2.ivf
example/output.avi
